#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-image: #e50914 url("/assets/login page image.jpg");
  background-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.input-container{
  background: #fff ;
  width :360px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0,0 , 0.2);
  padding:20px 25px;
}
.tax-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-group {
  text-align: left;
}

.form-group label {
  display: block;
  margin: 8px 0 6px;
  font-weight: bold;
  color: #333;
}
input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 12px;
}



